.comment {
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px lightgray;
  text-decoration: none;
  color: black;
  margin: 5px 10px !important;
  padding: 10px !important;
}
.content {
  font-size: 22px;
  line-height: 36px;
  color: #343434;
}

.flexContainer {
  display: flex;
}

.flexSubContainer {
  flex-grow: 2;
  margin: 30px 0;

}
.tagHeader{
    background-color: red;
    padding: 3px 10px;
    border-radius: 17px;
    width: 75px;
    height: 32px;
    color: #FFF;
}
.tagList{
    color: gray;
    list-style: none;
    margin-top: 27px;
    margin-left: 15px;
}
.flexRow{
  display: flex;
}
.flexColumn{
  display: grid;
}
.contentColumn{
    width: 80%;
    margin-top: 50px;
    min-height: 450px;
    margin: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.commentColumn{
    margin-top: 50px;
    min-height: 300px;
    width: 560px;
    background-color: #f6f7f9;
}

.tagTitle {
  color: red;
  font-size: 14px;
  margin: 0 10px;

}
.headerTitle {
  color:#3D315B;
  font-size: 22px;
  margin: 0 10px;
}

.headerSubTitle {
  color: gray;
  font-size: 10px;
  margin: 0 10px;
}
img {
  height: 30px;
  margin-top: 25px;
  margin-left: 20px;
}
