.flexcol{
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.flexrow {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

input[type=text]{
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid red;
  outline: none;
  width: 280px;
}
textarea{
  height: 350px;
  width: 600px;
  border: 1px solid lightgray;
  outline: none;
}
button{
  width: 150px;
  height: 40px;
  border: 0;
  background-color: red;
  color: #fff;
  margin: 0 20px;
}
button:hover{
  background-color: gray;
}

.post-container{
  margin: 20px;
}
