.clearSpace {
  margin-top: -8vh;
}
.blogPost{
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px lightgray;
  text-decoration: none;
  color: black;
  margin: 10px 20px !important;
  padding: 200px;
  max-height: 30vh;
  overflow-y: auto;

}

.searchTag {
  margin-top: 50px;
}
.blogPost:hover{
box-shadow: 3px 3px 5px lightgray;
color: red;
}
.blogPost h6{
  color: gray;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 1.5px;

}

.postHeader {
  margin-left: 20px;
  margin-top: 60px;
}
